USE [PruebaGenera]
GO
/****** Object:  StoredProcedure [dbo].[sp_calcula_horas_dia]    Script Date: 28/09/2026 08:14:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_calcula_horas_dia]
    @EmpresaId INT,
    @Fecha     DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        t.TrabajadorId,
        t.Rut,
        t.Nombre,
        tu.Nombre AS Turno,
        MIN(CASE WHEN m.Tipo = 'E' THEN m.FechaHora END) AS Entrada,
        MAX(CASE WHEN m.Tipo = 'S' THEN m.FechaHora END) AS Salida,

		/** CORRECIÓN
			- El resultado para HorasTrabajadas mostraba NULL cuando había alguna falta (entrada o salida).
			- Se corrige utilizando la función ISNULL para mostrar la salida correcta (0.00) en dichos casos.
		**/
        ISNULL(
			CAST(DATEDIFF(MINUTE,
                    MIN(CASE WHEN m.Tipo = 'E' THEN m.FechaHora END),
                    MAX(CASE WHEN m.Tipo = 'S' THEN m.FechaHora END)) / 60.0 AS DECIMAL(5,2)
			), 0.00
		) AS HorasTrabajadas,

		/** CORRECIÓN
			- El resultado para AtrasaoMin mostraba valores negativos cuando la marcación de entrada se hacía antes de la hora del turno.
			- Se corrige condicionando la salida para dichos casos y así mostrar el valor correcto (0).
		**/
		CASE 
			WHEN DATEDIFF(MINUTE, tu.HoraEntrada, CAST(MIN(CASE WHEN m.Tipo = 'E' THEN m.FechaHora END) AS TIME)) < 0 THEN 0
			ELSE DATEDIFF(MINUTE, tu.HoraEntrada, CAST(MIN(CASE WHEN m.Tipo = 'E' THEN m.FechaHora END) AS TIME))
		END AS AtrasoMin,
		
        CASE
            WHEN MIN(CASE WHEN m.Tipo = 'E' THEN m.FechaHora END) IS NULL THEN 'Ausente'
            WHEN MAX(CASE WHEN m.Tipo = 'S' THEN m.FechaHora END) IS NULL THEN 'Sin salida'
            ELSE 'Completo'
        END AS Estado
    FROM dbo.Trabajador t
    INNER JOIN dbo.TrabajadorTurno tt ON tt.TrabajadorId = t.TrabajadorId AND tt.Fecha = @Fecha
    INNER JOIN dbo.Turno tu           ON tu.TurnoId = tt.TurnoId
    LEFT  JOIN dbo.Marcacion m        ON m.TrabajadorId = t.TrabajadorId
    WHERE t.EmpresaId = @EmpresaId
      AND t.Activo = 1

	  /** CORRECIÓN
		- El resultado Salida no estaba tomando en cuenta los turnos que culminan el día siguiente.
		- Se corrige cambiando operador = por >=
		- Adicionalmente, para aprovechar los índices, se elimina la conversión de m.FechaHora
	  **/
      AND m.FechaHora >= CAST(@Fecha AS date)

	  /** CORRECIÓN
		- El resultado para Salida no estaba mostrando la fecha correcta para aquellos turnos cuyo valor es CruzaMedianoche = 1.
		- Se agrega nuevo filtro para limitar los registros de marcaciones hasta el día siguiente del parámetro @Fecha.
	  **/
	  AND m.FechaHora < CASE
			WHEN tu.CruzaMedianoche = 1 THEN DATEADD(DAY, 2, CAST(@Fecha AS DATE))
			ELSE DATEADD(DAY, 1, CAST(@Fecha AS DATE))
		END

    GROUP BY t.TrabajadorId, t.Rut, t.Nombre, tu.Nombre, tu.HoraEntrada
    ORDER BY t.Nombre;
END
